.photo__descr {
  padding-top: 25px;
  padding-bottom: 31px;
  padding-left: 21px;
  padding-right: 15px;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
