.popup__container {
  box-sizing: border-box;
  width: 430px;
  background: #fff;
  color: #000;
  position: relative;
  border-radius: 10px;
  padding: 34px 33px 39px 39px;
}

@media screen and (max-width: 425px) {
  .popup__container {
    padding: 25px 22px 25px 22px;
    max-width: 282px;
  }
}
