.photo__btn-delete {
    width: 18px;
    height: 19px;
    object-fit: cover;
    background: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: opacity .2s;
}

.photo__btn-delete:hover {
    opacity: .6;
}

